aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
altgraph
annotated-types
async-timeout
attrs
Babel
certifi
charset-normalizer
frozenlist
idna
magic-filter
MouseInfo
multidict
packaging
pefile
pillow
pip
propcache
psutil
pyaes
pyasn1
PyAutoGUI
pycryptodomex
pydantic
pydantic_core
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyperclip
PyRect
Pyrogram
PyScreeze
PySocks
pyTelegramBotAPI
pytweening
pytz
pywin32-ctypes
pyzipper
requests
rsa
setuptools
Telethon
TgCrypto
typing_extensions
typing-inspection
urllib3
yarl
